.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.body-container { 
  width: 80vw;
  margin: auto;
  margin-top: 15px;
}

table {
  margin-top: 15px;
}